<% if Rails.env.production? %>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<% else %>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<% end %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container" id="home">
  <h1>
    Orders
    <%= fa_icon "thumbs-up" %>
  </h1>

  <table class="table" id="orders_list">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody v-for="order in orders">
      <tr>
        <td>
          {{ order.order_id }}
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" v-on:click="loadOrder(order.order_id)" v-if="!order.feedback_submitted">
            Feedback
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Feedback Modal -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="feedbackModalLabel">
            Hi Ernest! How was your order {{ order.order_id }} at {{ order.delivery_time }} on {{ order.delivery_date }}?
          </h5>
          <p>
            Your feedback will help us improve and design exciting new meals in the future.
          </p>
          <p class="contact-us">
            Need help urgently? <a href="#">Send us an email</a> or call us at <a href="#">+65 3163 5335</a>.
          </p>
        </div>
        <div class="modal-body">
          <form v-bind:action="form_url" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
              <div v-if="can_submit" class="badge badge-outline-primary all-is-good">
                All is good
              </div>
              <h5>
                How was the food?
              </h5>
              <div v-for="(order_item, index) in order.order_items" class="order_item">
                <div class="ratable_item">
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          {{ order_item.name }}
                          <%= hidden_field_tag "feedbacks[][ratable_id]", "", ":value": "order_item.id" %>
                          <%= hidden_field_tag "feedbacks[][ratable_type]", OrderItem.to_s %>
                        </td>
                        <td class="rating">
                          <%= fa_icon "thumbs-up", "v-on:click": "rateUp(index)", "v-bind:class": "{ rated: order_item_ratings[index] == 1 }", class: "btn-rate", title: "good" %>
                          <%= fa_icon "thumbs-down", "v-on:click": "rateDown(index)", "v-bind:class": "{ rated: order_item_ratings[index] == -1 }", class: "btn-rate", title: "bad" %>
                          <%= hidden_field_tag "feedbacks[][rating]", "", "v-model": "order_item_ratings[index]" %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <%= text_field_tag "feedbacks[][comment]", "", ":placeholder": "'Any comments about our ' + order_item.name + '?'", class: "form-control-plaintext comment" %>
              </div>
            </div>

            <div class="form-group">
              <h5>
                How about our delivery?
              </h5>
              <div class="ratable_item">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        Courier
                        <%= hidden_field_tag "feedbacks[][ratable_id]", "", ":value": "order.id" %>
                        <%= hidden_field_tag "feedbacks[][ratable_type]", DeliveryOrder.to_s %>
                      </td>
                      <td class="rating">
                        <%= fa_icon "thumbs-up", "v-on:click": "order_rating = 1", "v-bind:class": "{ rated: order_rating == 1 }", class: "btn-rate", title: "good" %>
                        <%= fa_icon "thumbs-down", "v-on:click": "order_rating = -1", "v-bind:class": "{ rated: order_rating == -1 }", class: "btn-rate", title: "bad" %>
                        <%= hidden_field_tag "feedbacks[][rating]", "", "v-model": "order_rating" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <%= text_field_tag "feedbacks[][comment]", "", placeholder: "Feel free to leave us a comment...", class: "form-control-plaintext comment" %>
            </div>

            <%= submit_tag "Submit", class: "btn btn-primary btn-block", "v-bind:disabled": "!can_submit && !submitting", "v-on:click": "submitForm" %>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Thank you Modal -->
  <div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>
            Feedback submitted!
          </h5>
        </div>
        <div class="modal-body">
          {{ feedback_submitted_message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var app = new Vue({
    el: '#home',
    methods: {
      loadOrder: function (order_id) {
        orders = this.orders;
        for (var i = 0; i < orders.length; i++) {
          if (orders[i].order_id == order_id) {
            this.order = orders[i];
            this.form_url = "/orders/" + orders[i].order_id + "/feedbacks";
            // reset
            this.order_item_ratings = new Array(orders[i].order_items.length).fill(0);
            this.order_rating = 0;
            break;
          }
        }
      },
      rateUp: function(index) {
        this.$set(this.order_item_ratings, index, 1);
      },
      rateDown: function(index) {
        this.$set(this.order_item_ratings, index, -1);
      },
      submitForm: function(e) {
        e.preventDefault();
        this.submitting = true;
        var form = $(e.target).parents("form").first();
        axios.post(form.attr("action"), form.serialize())
        .then(function (response) {
          app.submitting = false;
          app.feedback_submitted_message = response.data.message;
          app.order.feedback_submitted = true
          // hide feedback modal and show thank you modal
          $("#feedbackModal").modal("hide");
          $("#feedbackModal").one("hidden.bs.modal", function(){
            $("#thankYouModal").modal("show");
          });
        });

      }
    },
    computed: {
      can_submit: function() {
        return !(this.order_rating == 0 || this.order_item_ratings.indexOf(0) != -1);
      }
    },
    data: {
      orders: <%= @orders.map { |order| order.to_feedback_json }.to_json.html_safe %>,
      order: {},
      form_url: "",
      order_item_ratings: [],
      order_rating: 0,
      submitting: false,
      feedback_submitted_message: ""
    }
  });
</script>