<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<div class="container" id="home">
  <h1>
    Orders
    <%= fa_icon "thumbs-up" %>
  </h1>

  <table class="table" id="orders_list">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= order.order_id %>
          </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" v-on:click="loadOrder('<%= order.order_id %>')">
              Feedback
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="feedbackModalLabel">
            Hi Ernest! How was your order {{ order.order_id }} at {{ order.delivery_time }} on {{ order.delivery_date }}?
          </h5>
          <p>
            Your feedback will help us improve and design exciting new meals in the future.
          </p>
          <p class="contact-us">
            Need help urgently? <a href="#">Send us an email</a> or call us at <a href="#">+65 3163 5335</a>.
          </p>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h5>
              How was the food?
            </h5>
            <div v-for="order_item in order.order_items" class="ratable_item">
              <table>
                <tbody>
                  <tr>
                    <td>
                      {{ order_item.name }}
                    </td>
                    <td class="rating">
                      <%= fa_icon "thumbs-up" %>
                      <%= fa_icon "thumbs-down" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-group">
            <h5>
              How about our delivery?
            </h5>
            <div class="ratable_item">
              <table>
                <tbody>
                  <tr>
                    <td>
                      Courier
                    </td>
                    <td class="rating">
                      <%= fa_icon "thumbs-up" %>
                      <%= fa_icon "thumbs-down" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-group">
            <%= text_field_tag "comments", "", placeholder: "Feel free to leave us a comment...", class: "form-control-plaintext" %>
          </div>

          <button type="button" class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var app = new Vue({
    el: '#home',
    methods: {
      loadOrder: function (order_id) {
        orders = this.$data.orders;
        for (var i = 0; i < orders.length; i++) {
          if (orders[i].order_id == order_id) {
            this.$data.order = orders[i];
            break;
          }
        }
      }
    },
    data: {
      orders: <%= @orders.map { |order| order.to_feedback_json }.to_json.html_safe %>,
      order: <%= @orders.first.to_feedback_json.to_json.html_safe %>
    }
  });
</script>